<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil de Usuario</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=MuseoModerno:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/styles.css">
</head>
<body class="page-profile-body">

    <!-- Barra de navegación -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="/"><strong>Rent Agile</strong></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link custom-link" href="/#autos-disponibles">Autos Disponibles</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle custom-link" href="#seccion1">Gestión de Autos</a>
                        <div class="dropdown-menu" aria-labelledby="autosDropdown">
                            <div id="dropdownMenu" class="custom-dropdown-menu">
                                
                            </div>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Mis Autos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Cerrar Sesión</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Fin de la barra de navegación -->

    <!-- Contenido de la página de perfil -->
    <div class="red-bar">
        <!-- Contenido de la barra roja -->
    </div>

    <div class="container mt-5">
        <header class="text-center">
            <!-- Lógica para mostrar el mensaje de bienvenida -->
            <% if (user) { %>
                <h1>Bienvenido, <%= user %></h1>
            <% } else { %>
                <h1>Bienvenido, Usuario</h1>
            <% } %>
        </header>
        <main>
            <div class="content card mt-4">
                <div class="card-body">
                    <h2 class="card-title">Mi Perfil</h2>
                    <!-- Lógica para mostrar los datos del usuario -->
                    <% if (user) { %>
                        <p class="card-text">Nombre Completo: <%= name %></p>
                        <p class="card-text">Correo Electrónico: <%= email %></p>
                    <% } else { %>
                        <p class="card-text">Nombre Completo: Nombre del Usuario</p>
                        <p class="card-text">Correo Electrónico: usuario@example.com</p>
                    <% } %>
                </div>
            </div>
        </main>

        <!-- Carrusel de Imágenes -->
        <div id="bannerCarousel" class="carousel slide" data-ride="carousel" data-interval="4000"  style="max-height: 200px; overflow: hidden;">
            <ol class="carousel-indicators">
                <li data-target="#bannerCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#bannerCarousel" data-slide-to="1" class="active"></li>
                <li data-target="#bannerCarousel" data-slide-to="2"></li>
                <!-- Agrega más indicadores si tienes más imágenes -->
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/public/images/b1.jpg" class="d-block w-100" alt="banner-1">
                </div>
                <div class="carousel-item active">
                    <img src="/public/images/b2.jpg" class="d-block w-100" alt="banner-2"> 
                </div>
            </div>
        </div>

        <div id="seccion1">
            <!-- Contenido de la sección "Autos disponibles" -->
        </div>
        
        <div class="seccion1">
            <h2 class="titulo-caja">
                <strong>g</strong>estión de Autos
                <img src="https://img.icons8.com/color/48/full-tank.png" width="48" height="48" alt="full-tank" style="float: right;">
            </h2>
        </div>
        <p>Aquí puedes gestionar tus autos.</p>
        <!-- Formulario simplificado para guardar una nota -->
        <form method="post" action="/guardar-nota">
            <div class="form-group nota-box">
                <label for="nota">Nota:</label>
                <textarea id="nota" name="nota" rows="4" cols="50" class="form-control" placeholder="Sugerencia de Nota de Gestión: Puedes registrar aquí cualquier evento relevante relacionado con tu vehículo, como mantenimientos, reparaciones, cambios de aceite, inspecciones técnicas, modificaciones realizadas, fechas de vencimiento de seguros, etc. Utiliza esta sección para mantener un historial completo y organizado de todas las acciones y eventos relacionados con tu automóvil. ¡Tu seguridad y el buen estado de tu vehículo son nuestra prioridad!""></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Guardar Nota</button>
        </form>
    </div>
    </div>
    <script>
        // JavaScript para guardar la nota usando AJAX
        function guardarNota() {
            const nota = document.getElementById('nota').value; // Obtener el contenido de la nota desde el campo de texto

            // Enviar la nota al servidor usando AJAX (jQuery)
            $.ajax({
                type: 'POST',
                url: '/guardar-nota', // La URL donde se manejará la solicitud en el servidor
                data: { nota: nota }, // Los datos que se enviarán al servidor
                success: function (response) {
                    if (response.success) {
                        alert('Nota guardada con éxito');
                        // Puedes realizar otras acciones después de guardar la nota, como actualizar la interfaz de usuario.
                    } else {
                        alert('Error al guardar la nota');
                    }
                },
                error: function (error) {
                    console.error('Error al enviar la nota al servidor: ' + error.message);
                    alert('Error al guardar la nota');
                }
            });
        }
    </script>

    <footer class="text-center mt-3">
        <p>&copy; 2023 Alquiler de Autos</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js
