/* Estilos generales .styles línea s- hoja publicar auto */
body {
    font-family: 'MuseoModerno', sans-serif;
    margin: 0;
    padding: 0;
    background: url('/public/images/fondo-pubicar-auto.jpeg') center/cover no-repeat;
}

.center-text {
    text-align: center;
}

/* Texto superior imagen fondo */
.shiny-text {
    font-size: 16px;
    color: #fff; /* Color del texto */
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.7); /* Efecto de brillo */
}


/* Estilo del contenedor principal */
.modal-content {
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 16px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.5) 100%);
    width: 100%;
    max-width: 400px;
    margin: 20px auto; /* Aumentado el margen superior */
    animation: slideIn 1s ease-in-out; /* Animación de entrada */
    position: relative; /* Posición relativa para los elementos hijos */
}

/* Estilo del título del formulario */
.modal-content h1 {
    text-align: center;
    color: red;
    font-size: 26px;
    padding: 2px 0 10px 0; /* Reducido más el margen superior entre rent agile y techo del div */
}

/* Estilo de las cajas de entrada en el formulario */
.modal-content input[type="text"],
.modal-content input[type="file"],
.modal-content select,
.modal-content textarea,
.modal-content input[type="tel"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #ced4da;
    border-radius: 15px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

/* Estilo del botón de envío */
.modal-content input[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: rgb(196, 16, 16);
    border: 0;
    border-radius: 15px;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    font-size: large;
    color: #ffffff;
    margin-top: 20px;
    text-decoration: none;
}

/* Cambio de color al pasar el mouse sobre el botón de envío */
.modal-content input[type="submit"]:hover {
    background-color: black;
    color: #ffffff; /* Cambio de color del texto al blanco */
}

/* Mensaje de resultado */
.alquiler-msj {
    text-align: center;
    margin-top: 10px;
}

/* Estilo del botón de cierre */
.close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: red;
    cursor: pointer;
}

.close:hover {
    color: darkred;
}

/* Estilos para la alerta personalizada si no esta loguead@ */
.custom-alert {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    z-index: 9999;
}

.custom-alert-content {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;
    margin-top: 100px;
    max-width: 400px;
    width: 80%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}


/* Botones dentro de la alerta personalizada */
.custom-alert-content button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: rgb(196, 16, 16);
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    margin-right: 10px;
}

/* Estilo de botones al pasar el mouse */
.custom-alert-content button:hover {
    background-color: black;
}


/* Estilos para hacer el formulario responsive */
@media (max-width: 768px) {
    /* Reducir el tamaño del título */
    .modal-content h1 {
        font-size: 24px;
        padding: 40px 0 10px 0;
    }

    /* Reducir el padding de los campos de entrada */
    .modal-content input[type="text"],
    .modal-content input[type="file"],
    .modal-content select,
    .modal-content textarea,
    .modal-content input[type="tel"] {
        padding: 10px;
    }
}

/* Definir una animación entrada texto izq 'slideIn' */
@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Estilos para la página de perfil */


/* Estilo para el contenido */
.content {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
}

/* Estilo  enlace "Autos Disponibles" */
.custom-link {
    color: #ff2f00; 
}

/* Estilo para el enlace "Autos Disponibles" mandatory */
.navbar .navbar-nav .nav-item .custom-link {
    color: #fc0000; 
}
.red-bar {
    background-color: red;
    height: 50px; 
    width: 100%; /* Ancho */
}

/* Estilo para el enlace "Autos Disponibles" con efecto  */
.custom-link {
    color: #ff2f00; /* Color normal del texto */
    text-decoration: none; 
    animation: shine 2s infinite alternate; /*  animación "shine" */
}

/* Definición de la animación "shine" */
@keyframes shine {
    0% {
        text-shadow: none; /* Sin sombra al principio */
    }
    50% {
        text-shadow: 0 0 5px #dd2a01; /* Agrega una sombra roja al 50% de la animación */
    }
    100% {
        text-shadow: none; /* Sin sombra al final */
    }
}


/* Estilos para el menú desplegable personalizado página de perfil */
.custom-dropdown-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 100;
}

.page-profile-body {
    
    background-image: url('/public/images/fondoperfil.jpg'); 
    background-size: cover; 
    background-repeat: no-repeat;
}

.custom-dropdown-menu a {
    display: block;
    padding: 10px 20px;
    color: #333;
    text-decoration: none;
}

.custom-dropdown-menu a:hover {
    background-color: #f2f2f2;
}
.custom-link {
    margin-top: 5px;
}


/* Estilo para el contenedor del carrusel */
#bannerCarouselContainer {
    max-height: 300px;  
    margin: 0 auto; 
}

/* Estilo para las imágenes del carrusel */
#bannerCarousel img {
    max-width: 100%; 
    height: auto; 
}
.titulo-caja {
    background-color: black;
    color: white;
    padding: 10px;
}

/* Nota box */
.nota-box {
    border-radius: 15px; 
    box-shadow: 1px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px; 
    background-color: #f0f0f0; 
}

/* Estilo para formulario publicar auto  variable de sesion */

.small-text {
    font-size: 14px; 
    color: black; 
    text-decoration: none;
}
.user-name {
    font-size: 14px;
    color:  #dd2a01;
    text-decoration: none;
}
  


/* Estilo base para el enlace "Rent Agile" */
.rent-agile-link {
    font-size: 24px;
    transition: color 0.3s ease;
    text-decoration: none;
    position: relative;
    display: inline-block;
    padding-right: 30px; 
    background-image: url('/public/images/homeicon.png'); 
    background-size: 24px 24px; 
    background-repeat: no-repeat;
    color: black; 
    text-align: center; 
    line-height: 40px; 
}

.rent-agile-link img {
    vertical-align: middle; 
}

/* Estilo para el enlace "Rent Agile" al pasar el mouse sobre él */
.rent-agile-link:hover {
    color: transparent; 
    background-position: 100% center; 
    transition: background-position 0.3s ease; 
}



/*  ** Estilos para la alerta personalizada si no está logueado -mensaje de exito - ir perfil **  */
.custom-alert {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.custom-alert-content {
    background-color: rgba(255, 255, 255, 0.8); /* Fondo semitransparente */
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;
    max-width: 400px;
    width: 80%;
}

/* Botones dentro de la alerta personalizada */
.custom-alert-content button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: rgb(196, 16, 16);
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
}

/* Estilo de botones al pasar el mouse */
.custom-alert-content button:hover {
    background-color: rgb(150, 10, 10);
}
