/* Estilos generales */
body {
  font-family: 'MuseoModerno', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

/* Etilo borde caja login e inicar sesion*/

.login-form {
border-radius: 20px;
box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
background-color: rgba(255, 255, 255, 0.8); /* Fondo opaco */
padding: 16px;
background: linear-gradient(90deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.5) 100%); /* Degradado lineal */
}

/* Estilo del contenedor principal (login y contenedor) */
.login-form, .contenedor {
  width: 300px;
  margin: 0 auto;
  max-width: 400px; 
  margin: 0 auto;
  max-height: 590px;
  
}

/* Imagen fondo de seccion registro y login */
.login-page-regis {
  background-image: url('/public/images/fondo-ruta.jpg');
  background-size: cover;
 
}

/* Estilo del título en el formulario de registro */
.login-form h1 {
  text-align: center;
  color: red;
  font-size: 26px;
  padding: 70px 0 10px 0;
}

/* Estilo de las cajas de entrada en el formulario de registro */
.login-form input[type="password"],
.login-form input[type="text"],
.login-form input[type="email"] {
  width: 100%;
  padding: 15px;
  border: 1px solid #ced4da;
  border-radius: 15px; /* Borde redondeado */
  box-sizing: border-box;
}

/* Estilo para la caja de fecha en el formulario de registro */
.login-form input[type="date"] {
  width: 100%;
  padding: 15px;
  border: 1px solid #ced4da;
  border-radius: 15px; /* Borde redondeado */
  box-sizing: border-box;
}

/* Estilo para la caja de selección de departamento en el formulario de registro */
.login-form select[name="department"] {
  width: 100%;
  padding: 15px;
  border: 1px solid #ced4da;
  border-radius: 15px; /* Borde redondeado */
  box-sizing: border-box;
}

/* Estilo del botón de registro e inicio de sesión */
.btn-login, .btn-register {
  width: 100%;
  padding: 15px;
  background-color: rgb(196, 16, 16);
  border: 0;
  border-radius: 15px; /* Borde redondeado */
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  font-size: large;
  color: #ffffff;
  margin-top: 20px;
  /* Apariencia del botón */
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
}

/* Estilos para el botón de registro e inicio de sesión al interactuar con ellos */
.btn-login:hover, .btn-login:active, .btn-register:hover, .btn-register:active {
  color: #ffffff;
  background-color: rgb(196, 16, 12);
  border-color: black;
}

.btn-login:focus, .btn-register:focus {
  box-shadow: 0 0 0 3px rgba(122, 7, 7, 0.25);
}




.btn-navbar {
  background-color: #cf1909;
  color: white;
  border-radius: 0;
  font-weight: bold;
}

 
/* Estilos para la barra de navegación */
#navbar {
  background-color: #cf1909; /* Cambiar el color de fondo a rojo */
  border-radius: 0; /* Quitar las esquinas redondeadas */
}

.navbar-brand {
  color: #fff; /* Cambiar el color del texto a blanco */
  font-size: 33px; /* Rent Agile */
}

.nav-link {
  color: #fff; /* Cambiar el color del texto a blanco */
  font-size: 18px; /* Aumentar el tamaño del texto */
} 

/* Estilo para el enlace "Publicar mi Auto" en la barra de navegación */
.nav-item-publish-auto a {
  color: #fff;
  font-size: 18px;
  font-weight: bold; 
  margin-right: 20px;
  text-decoration: none; 
}

/* Estilo para el enlace "Publicar mi Auto" al pasar el mouse sobre él */
.nav-item-publish-auto a:hover {
  text-decoration: underline; /* Subrayar el enlace al pasar el mouse */
}
/* Estilos para el encabezado */
header {
  background: linear-gradient(to right, #cf1909, #f54141); /* Degradado de colores */
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2); /* Sombra */
  border-radius: 0; /* Quitar las esquinas redondeadas */
  text-align: center;
  padding: 0.5rem 0;
}

.lead {
  font-size: 20px; /* Tu auto Tu aventura */
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 3px rgba(88, 2, 2, 0.8);
}




/* Estilos para los autos disponibles */
#autos-disponibles {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
}

/* Estilos para el título en la sección de autos disponibles */
h2 {
  text-align: center;
}

#autos-disponibles h2 {
  font-size: 20px; 
}

/* Estilos para cada tarjeta de auto */
.auto {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.auto img {
  max-width: 100%;
  height: auto;
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-text {
  color: #555;
}

/* Estilos para los botones */
button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #555;
}

.btn-primary {
  background-color: #cf1909; /* Cambiar el color de fondo a rojo */
  border-color: #661710; /* Cambiar el color del borde a rojo */
  color: #fff; /* Cambiar el color del texto a blanco */
  font-size: 18px; /* Aumentar el tamaño del texto */
}

.btn-primary:hover {
  background-color: #ff231c; /* Cambiar el color de fondo al pasar el mouse */
  border-color: #f81e17; /* Cambiar el color del borde al pasar el mouse */
}

/* Anular los estilos de Bootstrap para el botón después de hacer clic */
.btn-primary:active,
.btn-primary:hover,
.btn-primary:focus {
  background-color: #000; /* Cambiar el color de fondo a negro */
  border-color: #000; /* Cambiar el color del borde a negro */
  color: #fff; /* Cambiar el color del texto a blanco */
}

/* Estilo personalizado para la barra de navegación */
.bg-red {
  background-color: red; 
}

/* Asegura que este estilo sea más específico que el estilo original de Bootstrap para la barra de navegación */
.navbar.bg-red {
  background-color: red; 
}

.top-header{
  text-align: center;
  margin: 30px 0;
}
.top-header h3{
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 8px
}

/* Estilo para el texto "Rent Agile" en el formulario de inicio de sesión */
.login-form h2 a.logo {
  font-family: 'MuseoModerno', sans-serif;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 26px;
}
